<div>
    <h1><%- data.title %></h1>

    <div>
        <p><label for="">ID:   </label><%- data.user._id %></p>
        <p><label for="">NAME: </label><%- data.user.username %></p>
        <p><label for="">MAIL: </label><%- data.user.usermail %></p>
        <p><label for="">PASS: </label><%- data.user.password %></p>
    </div>
    
</div>
