<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/navbar.css' />
        <link rel='stylesheet' href='/stylesheets/profile.css' />

        <!-- JQUERY -->
        <script type='text/javascript' src="/javascripts/jquery-3.2.1.min.js"></script>

        <!-- JQUERY (Modal Plugin) -->
        <script type='text/javascript' src="/javascripts/jquery-confirm.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/jquery-confirm.min.css' />

        <!-- CUSTOM SCRIPT -->
        <script type='text/javascript' src="/javascripts/main.js"></script>
        <script type='text/javascript' src="/javascripts/profile.js"></script>
    </head>

    <body>

        <!-- Toolbar and navigation -->
        <%- include('partials/navigation.ejs', {data: data}); %>

        <!-- Content -->
        <div id="content">
            <% if (data.type === 'home') { %>
                <%- include('partials/home.ejs', {data: data}); %>

            <% } else if (data.type === 'page') { %>
                <%- include('partials/page.ejs', {data: data}); %>

            <% } else if (data.type === 'login') { %>
                <%- include('partials/login.ejs', {data: data}); %>

            <% } else if (data.type === 'signup') { %>
                <%- include('partials/signup.ejs', {data: data}); %>

            <% } else if (data.type === 'profile') { %>
                <%- include('partials/profile.ejs', {data: data}); %>

            <% } else if (data.type === 'error') { %>
                <%- include('partials/error.ejs', {data: data}); %>

            <% } else if (data.type === '404') { %>
                <%- include('partials/404.ejs', {data: data}); %>

            <% } %>
        </div>

    </body>
</html>
